<!DOCTYPE html>
<html>
<head>
	<title>home page</title>

	<style>
		html, body {
			color: #333;
		}
	</style>
</head>
<body>

	<h3>Hello World!</h3>

	<ul>
		{{range .Users}}
			<li>
				<a href='{{.Username}}'>
					<span>{{.Name}}</span>
					(<span style='color: #888;'>@{{.Username}}</span>)
				</a>
			</li>
		{{end}}
	</ul>
</body>
</html>
