<!DOCTYPE html>
<html>
<head>
	<title>Welcome to this shit</title>

	<style>
		html, body {
			color: #333;
		}
	</style>
</head>
<body>

	<h3>Heres a list of users</h3>

	<ul>
		{{range .Users}}
			<li>
				<a href='{{GetLink "profile" "name" .Username}}'>
					<span>{{.Name}}</span>
					(<span style='color: #888;'>@{{.Username}}</span>)
				</a>
			</li>
		{{end}}
	</ul>
</body>
</html>
