<!DOCTYPE html>
<html>
<head>
	<title>{{.User.Name}}'s Profile</title>

	<style>
		html, body {
			color: #333;
		}
	</style>
</head>
<body>

<div>
	<h2>
		<div>{{.User.Name}}</div>
		<small style='color: #888;'>@{{.User.Username}}</small>
	</h2>
	<div><strong>Email:</strong> {{.User.Email}}</div>
</div>

</body>
</html>